.destaques {
    background-color: var(--azul-claro);

    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.destaques-titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 2rem;
}

.destaques-painel {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2rem;
}

.destaques-painel-imagem {
    width: 100vw;

    box-shadow: 0 2px 10px 5px #00000020;

    margin-bottom: .5rem;
}

.destaques-painel-texto {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: normal;
}

.destaques-botao {
    color: var(--vermelho-forte);

    border-color: var(--vermelho-forte);

    margin: 0 auto;
}
